html,
body,
header,
#intro {
	background: url('/pickpic/resources/images/banner01.jpg') no-repeat center center;
	display: table;
	height:100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	}
.landing-text h1{
		font-size:  500%;
		font-weight: 700;
	}
.padding img{
	width: 100%;'
}
