.l_help_title_wrap {
	position: relative;
	width: 100%;
	height: 22%;
	padding: 0;
	margin: 0;
}
/* 수직으로 가운데 정렬 */
.wrapper {
	height: 100%;
	text-align: left;
}

.wrapper:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 100%;
	margin-right: 0;
	vertical-align: middle;
}

.box {
	display: inline-block;
	vertical-align: bottom;
}
/* 수직으로 가운데 정렬 끝 */

/* 루트보이기 */
.l_help_title_wrap>.home_root {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px 15px;
	list-style: none;
	font-size: 12px;
	margin-top: 15px;
}

.home_root>li {
	display: inline-block;
}

.l_help_list_wrap {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin-top: 5%;
	padding: 0;
}

/* 서치바 */
.row_serch {
	position: relative;
	top: 0;
	left: 0;
	padding-top: 10px;
	padding-bottom: 15px;
	list-style: none;
	font-size: 12px;
	text-align: right;
	margin: 0;
}

.l_help_list_wrap>.row_list {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin:0;
}

.row_list>table tr td:first-child{
	text-align: center;
}
.row_list>table tr td:nth-child(2){
	text-align: center;
}
.row_list>table tr td:last-child{
	text-align: center;
}

.row_list2>table tr td:first-child{
	text-align: center;
}
.row_list2>table tr td:last-child{
	text-align: center;
}

 div.slider {
	 display: none;
}
/* 미디타입 */
@media screen and (max-width:1000px) and (min-width:0px) {
	.l_help_title_wrap {
		position: absolute;
		top: 4%;
		left: 0;
		width: 100%;
		height: 100px;
		margin: 0 auto;
		text-align: center;
		display: none;
	}
	.l_help_bottom_wrap {
		
	}
}