@font-face {
	font-family: NANUMSQUAREB;
	src: url("/pickpic/css/fonts/NANUMSQUAREB.TTF");
}

.header_top{
	background: white !important;
	opacity:1;
	background:white;
	border-bottom:1px #ccc solid;
}
.menu_wrap a{
	color:#5a5a5a !important;
	font-weight: normal !important;
	font-size:1.1em !important;
}
.ul_submenu li a{
	color:#5a5a5a !important;
	font-weight: normal !important;
	font-size:.9em !important;
}

.nav_wrap_top_position{
	opacity:1;
	background:white;
	border-bottom:1px #ccc solid;
}
/* 메인 페이지 이외에 페이지에서 넣어야 하는 속성 */

.l_login_all_wrap{
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:897px;;
	background-image: url("/pickpic/resources/images/login_background.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
	
}

.l_login_wrap{
	position: relative;
	top:0;
	left:0;
	width:1400px;
	height:100%;
	margin:0 auto;
	margin-top:40px;
	
}
.l_login_p_wrap{
	position:absolute;
	top:10%;
	left:25%;
	width:700px;
	height:100px;
	margin:0 auto;
	text-align:center;
}

.l_login_p_wrap h2{
	font-family: NANUMSQUAREB;
	font-size: 2.7em;
}

.l_login_bottom_wrap{
	position:absolute;
	top:25%;
	left:4%;
	width:1300px;
	height:500px;
	margin:0 auto;
	border: 1px #eee solid;
}
.l_login_background{
	width:100%;
	height:100%;
	background: white;
	opacity: .3;
}
.l_login_left_wrap{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100%;
	border-right: 1px #eee solid;
}	
.l_login_left_wrap2{
width:600px;
height:400px;
margin:0 auto;
background: red;
}

.l_login_left_text{
	width:500px;
	margin:0 auto;
	margin-top:70px;
	text-align: center;
}

.l_login_left_text h2{
	font-family: NANUMSQUAREB;
	font-size: 2em;
}

.l_login_left_form_wrap{
	width:600px;
	margin:0 auto;
	text-align: center;
	margin-top:40px;
	
}
.l_login_left_form_wrap form{
	overflow: hidden;
}


.l_login_left_form_wrap div:first-child input{
	display:block;
 	width:300px;
	margin-top:10px;
	color:#aaa;
	height: 50px; 
	
	
}
.l_login_left_form_wrap div:first-child{
	float:left;
	margin-left:70px;
	
}
.l_login_left_form_wrap div:last-child{
	float:left;
	margin-left:20px;
	
	
	
}
.l_login_left_form_wrap div:last-child input{
	width:130px;
	height:110px !important;
	margin-top:10px;
	
	height: 50px;
}
.l_login_left_form_wrap input:last-child{
	
	color:#fff;
}
.l_login_left_bottom{
	width:500px;
	margin:0 auto;
	text-align: center;
	clear: both;
}
.l_login_left_bottom li{
	display:inline-block;
	margin-right:15px;
	
	
}
.l_login_left_bottom{
	margin-top:40px;
}

.l_login_left_bottom li span{
	margin-top:5px;
	margin-left:15px;
	display: inline-block;
	padding-top:10px;
	height:13px;
	width: 1px;
	background: #333;
	
}

.l_login_left_bottom li:last-child span{
	display:none;
}


/*     right     */
.l_login_right_wrap{
	position:absolute;
	top:0;
	left:50%;
	width:50%;
	height:100%;
	
}
.l_login_right_text{
	width:500px;
	margin:0 auto;
	margin-top:70px;
	text-align: center;
}

.l_login_right_text h2{
	font-family: NANUMSQUAREB;
	font-size: 2em;
}

.l_login_right_form_wrap{
	width:600px;
	margin:0 auto;
	text-align: center;
	margin-top:40px;

}
.l_login_right_form_wrap li{
 background: white;
 width:300px;
 height: 50px;
 margin:0 auto;
 margin-bottom: 20px;
 cursor: pointer;
}

.l_login_right_form_wrap li input{
	width:100% !important;
	height: 100% !important;
}

#kakao-login-btn img{
	width:100% !important;
	height: 100% !important;
}
/* 미디어 쿼리 */

@media screen and (max-width:1000px) and (min-width:0px){
	
.l_login_all_wrap{
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:1200px;
	background-image: url("/pickpic/resources/images/a1.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
	
}

.l_login_wrap{
	position: relative;
	top:0;
	left:0;
	width:100%;
	margin-top:40px;
	
	
}
.l_login_p_wrap{
	position:absolute;
	top:4%;
	left:0;
	width:100%;
	height:100px;
	margin:0 auto;
	text-align:center;
	display: none;
	
	
}

.l_login_bottom_wrap{
	position:absolute;
	top:6%;
	left:50px;
	
	width:90%;
	height:1000px;
	margin:0 auto;
	border: 1px #eee solid;
}
.l_login_background{
	width:100%;
	height:100%;
	background: white;
	opacity: .3;
}
.l_login_left_wrap{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:400px;
	border-right: none;

	border-bottom:1px #eee solid;
}	
.l_login_left_wrap2{
width:600px;
height:400px;
margin:0 auto;
background: red;
}

.l_login_left_text{
	width:500px;
	margin:0 auto;
	margin-top:70px;
	text-align: center;
}
.l_login_left_form_wrap{
	width:600px;
	margin:0 auto;
	text-align: center;
	margin-top:40px;
	
}
.l_login_left_form_wrap form{
	overflow: hidden;
}


.l_login_left_form_wrap div:first-child input{
	display:block;
 	width:300px;
	margin-top:10px;
	color:#aaa;
	height: 50px; 
	
	
}
.l_login_left_form_wrap div:first-child{
	float:left;
	margin-left:70px;
	
}
.l_login_left_form_wrap div:last-child{
	float:left;
	margin-left:20px;
	
	
	
}
.l_login_left_form_wrap div:last-child input{
	width:130px;
	height:110px !important;
	margin-top:10px;
	
	height: 50px;
}
.l_login_left_form_wrap input:last-child{
	
	color:#fff;
}
.l_login_left_bottom{
	width:500px;
	margin:0 auto;
	text-align: center;
	clear: both;
}
.l_login_left_bottom li{
	display:inline-block;
	margin-right:15px;
	
	
}
.l_login_left_bottom{
	margin-top:40px;
}

.l_login_left_bottom li span{
	margin-top:5px;
	margin-left:15px;
	display: inline-block;
	padding-top:10px;
	height:13px;
	width: 1px;
	background: #333;
	
}

.l_login_left_bottom li:last-child span{
	display:none;
}


/*     right     */
.l_login_right_wrap{
	position:absolute;
	top:40%;
	left:0;
	width:100%;
	height:500px;
	
	
}
.l_login_right_text{
	width:500px;
	margin:0 auto;
	margin-top:70px;
	text-align: center;
}
.l_login_right_form_wrap{
	width:600px;
	margin:0 auto;
	text-align: center;
	margin-top:40px;

}
.l_login_right_form_wrap li{
 background: white;
 
 width:300px;
 height: 50px;
 margin:0 auto;
 margin-bottom: 20px;
 cursor: pointer;
 
}
	
}
