@font-face {
	font-family: A옛날사진관2;
	src: url("/pickpic/css/fonts/A옛날사진관2.TTF");
}

@font-face {
	font-family: NANUMSQUAREROUNDB;
	src: url("/pickpic/css/fonts/NANUMSQUAREROUNDB.TTF");
}

@font-face {
	font-family: NANUMSQUAREROUNDR;
	src: url("/pickpic/css/fonts/NANUMSQUAREROUNDR.TTF");
}

@font-face {
	font-family: NANUMSQUAREROUNDL;
	src: url("/pickpic/css/fonts/NANUMSQUAREROUNDL.TTF");
}

@font-face {
	font-family: NANUMSQUARER;
	src: url("/pickpic/css/fonts/NANUMSQUARER.TTF");
}

.pic_gif {
	background-color: #000;
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

.pic_gif .gif_cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .3;
}

.gif_layout {
	color: #fff;
}

.anim_box {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25%;
	left: 37%;
	overflow: hidden;
}

.gif_innerText {
	position: absolute;
	width: 500px;
	height: 500px;
	color: #fff;
	top: 37%;
	left: 40%;
	line-height: 80px;
	font-family: A옛날사진관2;
	font-size: 2.5em;
}

.top_ {
	width: 100%;
	height: 10px;
	background: #fff;
	position: absolute;
}

.bottom_ {
	width: 100%;
	height: 10px;
	background: #fff;
	position: absolute;
	bottom: 0;
}

.right_ {
	width: 10px;
	height: 100%;
	background: #fff;
	position: absolute;
	right: 0;
}

.left_ {
	width: 10px;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0;
}

.best_pick {
	font-size: 300%;
	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	font-family: Calibri;
}

.line_box{
	position: absolute;
	left: 19%;
	top: 150px;
	height: 75%;
	width: 62%;
}

.edge:first-child{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    top:0px;
    right:0px;
    border-right:#7F7F7F 1px solid;
    border-top: #7F7F7F 1px solid;
}

.edge:last-child{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    bottom:0px;
    left:0px;
    border-left:#7F7F7F 1px solid;
    border-bottom: #7F7F7F 1px solid;
}

.main_image_wrap {
	padding: 20px 20% 20px 20%;
	position: relative;
	display: block;
}

.main_image {
	padding: 5px;
	position: relative;
}

.main_image img {
	width: 100%;
}

.innerText {
	background-color: #000;
	position: absolute;
	opacity: .6;
	left: 5px;
	top: 5px;
	height: 100%;
	width: 100%;
	display: none;
}

.innerText p {
	color: #fff;
	font-family: NANUMSQUAREROUNDB;
	overflow: hidden;
}

.innerText p:first-child {
	word-wrap: break-word;
	font-size: 20px;
	width: 100%;
}

.innerText p:last-child {
	font-size: 14px;
	height: 120px;
}

.icon_wrap {
	width:50px;
	margin:0px auto;
	margin-top: 20px;
}

.more_icon {
	width: 50px;
	height: 50px;
	margin:0px auto;
}

.icon_wrap p {
	width: 50px;
	margin-top: 5px;
	text-align: center;
	font-weight: NANUMSQUARER;
	color: #7F7F7F;
}

/* 책갈피  */
.checked {
	position: fixed;
	top: 240px;
	right: 0px;
	z-index: 3;
	overflow: hidden;
	float: left;
}

.checked>a {
	float: left;
	cursor: pointer;
}

.checked a img {
	
}

.checked_menu {
	float: left;
	width: 0px; /*나중에 0으로 만들기*/
	background: white;
}

.checked_menu a {
	cursor: pointer;
}

.checked_menu ul {
	padding: 25px;
}

.checked_menu ul li {
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px black solid;
	margin-top: 5px;
}

.checked_img {
	width: 50px;
}

/* sec_all */
.sec_wrap {
	width: 100%;
	position: relative;
}

/* sec_0 */
#sec_0 {
	height: 100% !important;
}

/* sec_1 sec_2 */
#sec_1 {
	background: white;
	margin-top:100px;
}

#sec_2 {
	background: #e9e9e9;
	margin-bottom: 50px;
}

.l_keyword_all_wrap {
	width: 100%;
	height: 600px;
	overflow: hidden;
	padding-top: 120px;
}

.l_keyword_margin_wrap {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.l_keyword_left_wrap {
	height:100%;
	float: left;
	text-align: center;
}

.l__keyword_left_up_text {
	margin-top: 150px;
}

.l__keyword_left_up_text p {
	font-size: 2.5em;
	font-family: NANUMSQUAREROUNDL;
	font-weight: 100;
}

.l__keyword_left_up_text p span {
	font-family: NANUMSQUAREROUNDR;
	font-weight: 300;
}

/* l__keyword_left_down_text */
.l__keyword_left_down_text {
	margin-top: 30px;
}

.l__keyword_left_down_text p {
	font-size: 1.5em;
	font-family: NANUMSQUAREROUNDL;
}

.l_keyword_right_wrap {
	float: right;
	overflow: hidden;
}

.l_keyword_left_wrap2 {
	
}

.l_keyword_left_wrap2 img {
	margin-top: 64px;
	margin-left: 8%;
}

/* 모바일  사진있는 부분 */
.l_keyword_all_wrap2 {
	background: #eaeaea;
	height: 600px;
	overflow: hidden;
}

/* sec_3 */
#sec_3 {
	height: 100%;
	background: white;
}

.l_masonry_margin_wrap {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.l_masonry_text_wrap {
	width: 45%;
	float: left;
	margin-top: 200px;
}

.l_masonry_text_wrap div:first-child {
	text-align: center;
}

.l_masonry_text_wrap div:first-child p {
	font-size: 2.0em;
	font-family: NANUMSQUAREROUNDL;
	font-weight: 100;
}

.l_masonry_text_wrap div:first-child p span {
	font-weight: 300;
	font-family: NANUMSQUAREROUNDR;
}

.l_masonry_text_wrap div:last-child {
	margin-top: 80px;
	text-align: center;
}

.l_masonry_text_wrap div:last-child p {
	font-size: 1.5em;
	font-family: NANUMSQUAREROUNDL;
}

.l_masonry_wrap {
	width: 55%;
	height: 100%;
	float: left;
}

/* grid-item
------------------------- */
.grid-item {
	width: 20%;
	float: left;
	overflow: hidden;
	border-color: hsla(0, 0%, 0%, 0.5);
	margin-top: 5px;
	margin-left: 5px;
}

.grid-item img {
	width: 100%;
	
}

.grid {
	background: white;
	border-radius: 5px;
}

/* sec_4*/
#sec_4 {
	background: white;
	height: 100%;
}

.l_pick_picnic_all_wrap {
	width: 1600px;
	margin: 0 auto;
	overflow: hidden;
}

.l_pick_picnic_top {
	margin: 50px 0 50px 15px;
	font-weight: 500;
	font-size: 1.8em;
}

.l_pick_picnic_text_wrap {
	margin-left: 20px;
}

.l_pick_picnic_text_wrap div {
	overflow: hidden;
}

.l_pick_picnic_text_wrap div div {
	float: left;
}

.l_pick_picnic_text_wrap div div:first-child {
	width: 18%;
}

.l_pick_picnic_text_wrap div div:last-child {
	margin-left: 100px;
}

.l_pick_picnic_text_wrap div div p {
	margin-top: 23px;
}

/* 미디어쿼리 시작 */
@media screen and (max-width:1000px) and (min-width:0px) {
	.gif_cell img {
		display: none;
	}

	/* sec_1 */
	#sec_1 {
		height: 100%;
	}
	.l_keyword_margin_wrap {
		width: 100%;
		padding: 0;
	}
	.l_keyword_left_wrap {
		width: 100%;
	}
	.l_keyword_right_wrap {
		width: 100%;
		margin: 0 auto;
	}
	/* sec_2 */
	#sec_2 {
		margin-bottom: 0px;
		height: 100%;
		padding-top: 60px;
	}
	.l_keyword_margin_wrap2 {
		width: 770px;
	}
	.l_keyword_left_wrap2 {
		width: 45%;
		padding: 0;
		margin-left: 20px;
	}
	.l_keyword_left_wrap2 img {
		margin: 0;
	}
	.l_keyword_right_wrap2 {
		margin-left: 40px;
		width: 40%;
	}
	.l_keyword_right_wrap {
		padding: 0;
	}

	/* sec_3 */
	.l_masonry_margin_wrap {
		width: 100%;
	}
	.l_masonry_text_wrap {
		width: 100%;
		clear: both;
	}
	
	
	
	.l_masonry_wrap {
		width: 100%;
		margin-left: 20px;
		clear: both;
	}
	.grid {
		width: 760px;
		margin: 0 auto;
	}
	.grid-item {
		width: 30%;
	}
	.grid-item:last-child {
		display: none;
	}
}