/* The Preview (background) */
.preview_wrap {
	overflow-y: auto;
    overflow: hidden;
    position: relative;
}

.preview_container {
	margin-right: 15px;
    margin-left: 15px;
}

.preview {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.photo_wrap {
	margin:15px; 
    padding: 0;/*위 오 아 왼*/
	 border: 1px solid #e6e6e6;
}
.photo {
    border: 1px solid #e6e6e6;
    background-color:#eeeeee;
    margin: 15px 15px;
	}

.photo_center_wrap{
	position: relative;
	padding-top: 100%; /* 1:1 ratio */
	overflow: hidden;
}

.photo_center {
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}
.photo_center > img  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}

.menu {
	margin: auto;
	width: 50%;
}

.menu .btn-group {
	padding: 5px;
	width: 100%;
}

.noMnP {
	margin: 0;
	padding: 0;
}



@media screen and (max-width:1000px) and (min-width:0px) {
}