@font-face{
	font-family: NANUMSQUAREROUNDB;
	src: url("/pickpic/css/fonts/NANUMSQUAREROUNDB.TTF");
}

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none !important;
	color: #000;
}

img {
	display: block;
}

.header_top {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	padding: 0px;
	z-index: 1;
}


.menu_all_wrap_position {
	position: relative;
	top: 15px;
	left: 0;
	width: 100%;
	height: 50px; /*이게없으면 서브 메뉴가 아예 안보임 수정*/
	overflow: hidden;
}

.main_menu_wrap {
	display: block;
}

.logo {
	float: left;
}

.logo>a>img {
	width: 140px;
	height: 25px;
	margin: 10px;
}

.menu_login_wrap {
	display: inline;
}

.menu_login_in {
	text-align: center;
	width: 100%;
}

.menu_wrap {
	display: inline-block;
	margin-top: 15px;
}

.menu_wrap li {
	display: inline;
}

.menu_wrap a {
	font-family: NANUMSQUAREROUNDB;
	font-size: 1.2em;
	color: white;
}

.login_wrap {
	margin-top: 15px;
}

.login_wrap ul {
	overflow: hidden;
	float: right;
}

.login_wrap ul li {
	overflow: hidden;
	margin-right: 20px;
	float: left;
}

.login_wrap ul li a {
	font-family: NANUMSQUAREROUNDB;
	float: left;
	color: #7DA7D9;
}

.login_wrap ul li a span {
	float: right;
	width: 2px;
	height: 16px;
	margin-top: 2px;
	margin-left: 20px;
	display: block;
	background: #7DA7D9;
}
/* 여기서 부터 서브 메뉴*/
.nav_wrap_top_position {
	display: none;
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
}

.nav_wrap_main {
	width: 100%;
	margin: 0 auto;
}

.nav_wrap {
	margin-bottom: 20px;
	margin-left:2.5%;
	float: left;
}

.ul_submenu li {
	margin-top: 10px;
}

.ul_submenu li a {
	font-size: 1em;
	font-family: NANUMSQUAREROUNDB;
	text-align: center;
	display: block;
	color: white;
}

/* 버튼  효과 */
.button-container-1 {
	display: none;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 20px;
	float:right;
	/*
	width: 100px;
	height: 50px;
	margin-left: auto;
	border: 1px solid;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	*/
	transition: 0.5s;
	letter-spacing: 1px;
}

.button-container-1 button {
	width: 101%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 1px;
	background: #fff;  /*색 바꾸기 */
	outline: none;
	-webkit-mask:
		url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
	mask:
		url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
	-webkit-mask-size: 2300% 100%;
	mask-size: 2300% 100%;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-animation: ani2 0.7s steps(22) forwards;
	animation: ani2 0.7s steps(22) forwards;
}

.button-container-1 button:hover {
	-webkit-animation: ani 0.7s steps(22) forwards;
	animation: ani 0.7s steps(22) forwards;
}

.button-container-1 button img {
	width:30px;
	height: 30px;
}

.mas {
	position: absolute;
	color: #000;
	text-align: center;
	width: 101%;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	position: absolute;
	font-size: 20px;
	margin-top: 10px;
	overflow: hidden;
}

@
-webkit-keyframes ani {from { -webkit-mask-position:00;
	mask-position: 0 0;
}

to {
	-webkit-mask-position: 100% 0;
	mask-position: 100% 0;
}

}
@
keyframes ani {from { -webkit-mask-position:00;
	mask-position: 0 0;
}

to {
	-webkit-mask-position: 100% 0;
	mask-position: 100% 0;
}

}
@
-webkit-keyframes ani2 {from { -webkit-mask-position:100%0;
	mask-position: 100% 0;
}

to {
	-webkit-mask-position: 0 0;
	mask-position: 0 0;
}

}
@
keyframes ani2 {from { -webkit-mask-position:100%0;
	mask-position: 100% 0;
}

to {
	-webkit-mask-position: 0 0;
	mask-position: 0 0;
}

}

/*    모바일용 메뉴 창      */
#mobile-nav {
	margin-top:65px;
	display: none;
	position: absolute;
	width: 500px;
	height: 999px;
	background: #fff;
	left: -500px;
}

#mobile-nav nav {
	margin:20px;
}

.menu li {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	margin-bottom: 20px;
	text-align: center;
}

.menu li a {
	font-family: NANUMSQUAREROUNDB;
	font-size:1.3em;
	color: #404040;
	font-weight: bolder;
}

/*    모바일용 서브 메뉴 창      */
.m_sub {
	display: none;
}

.m_sub li {
	display:inline-block;
	border: none;
	margin: 0px;
}

.m_sub li a {
	font-family: NANUMSQUAREROUNDB;
	font-size: 1em;
	color: #7DA7D9;
}

/* addClass  */
.scroll {
	opacity: 1;
	background: white;
	border-bottom: 1px #ccc solid;
}

.scroll_color {
	color: #404040 !important;
}

.scroll_color2 {
	color: #5a5a5a !important;
	font-weight: normal !important;
	font-size: .9em !important;
}

.pic_gifadd {
	
}

/*미디어 쿼리*/
@media screen and (max-width:1000px) and (min-width:0px) {
	.menu_login_wrap {
		display: none;
	}
	.button-container-1 {
		display: block;
	}
	#mobile-nav {
		display: block;
	}
	.header_top {
		background: white;
		border-bottom: 1px #ccc solid;
	}
	
	.pic_gif {
		margin-top: 70px;
	}
	.checked {
		top: 450px;
	}

	/* .menu_all_wrap_position{
		height:900px;
		
	} */
}